body{
    margin: 0%;
    font-size: large;
    color: #ffffff;
    margin-bottom: 0;
}
h1{
    margin-top: 10px;
    margin-bottom: 0px;
    font-family: 'Sacramento', cursive;
    font-size: 5rem;
    line-height: 2;
}
h2{
    font-size: 2.5rem;
    font-family: 'Patrick Hand', cursive;
    font-weight: normal;
    padding-bottom: 10px;

}
h3{
    padding-top: 30px;
}
a{
    margin: 10px 20px;
}
a:hover{
    color: #66bfbf;
}
hr{
    width: 15%;
    border: dotted #fff 10px;
    
    border-bottom: none;

}
p{
    line-height: 2;
}

.cpp{
    
    /* width: 25%; */
    width: 15rem;
    float: left;
    margin-right: 30px;
}
.web{
    width: 15rem;
    /* width: 25%; */
    float: right;
    margin-left: 30px;
}
.skillrow{
    width: 50%;
    margin: 50px auto 100px auto;
    text-align: left;
    
}
.profile{
    padding-bottom: 20px;
}
.skills{
    padding-top: 20px;
    margin-bottom: 200px;
}

.intro{
    width: 30%;
    margin: auto;
}

.top{
    padding-top: 50px;
    background-color: #2f70d1;
    /* margin-top: 0%; */
    text-align: center;
    position: relative;
    /* margin-bottom: 100px; */
    /* padding-bottom: 100px; */
    
}
.top h2{
    color: #11999E;
}
.middle{
    
    padding-top: 100px;
    text-align: center;
    padding-bottom: 50px;
    background-color: #11999E;
    
}
.top h1  {
    color: #11999E;
}
.bottom{
    text-align: center;
    background-color: #2f70d1;
    padding-top: 30px;
    padding-bottom: 20px;
    margin: 0%;
    
}
.bottom-cloud {
    position: absolute;
    /* top: 120px; */
    left: 550px;

}
.top-cloud{
    position: absolute;
    top: 40px;
    right: 390px;;
}

.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 23;
    -moz-border-radius: 23;
    border-radius: 23px;
    font-family: Georgia;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }